body {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.btn.disabled, .btn:disabled {
    opacity: 0.25;
}

.language-button-container {
    display: flex;
    padding: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.language-button-polish {
    margin-left: 20px;
}

.test-container,
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container {
    flex-direction: column;
    align-items: center;
}

.error-box {
    margin-bottom: 20px;
    color: red;
}

.instructions-box,
.question-box {
    border: 1px solid silver;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 35px;
}

#instructions_title {
    font-weight: 700;
}

/*.instructions-text:not(:first-child),
.instructions-text:not(:last-child) {
    margin-bottom: 10px;
}*/

.question-box.missing-answers {
    background-color: #f2dede;
}

.question-row {
    height: 50px;
    display: flex;
    align-items: center;
}

.question-text {
    width: 80%;
    padding-right: 20px;
}

.answer-box-left {
    padding-right: 20px;
}

.results-box {
    display: none;
    flex-direction: column;
    align-items: center;
}

.chart-canvas {
    max-width: 1000px;
    max-height: 500px;
}

.answer-icon {
    height: 50px;
}

.save-test-button {
    margin-bottom: 20px;
}

.flag-icon {
    width: 50px;
    height: 38px;
    cursor: pointer;
}

.language-button-polish {
    margin-left: 20px;
}

.flag-icon-pl {
    background-image: url(../content/icons/pl.svg);
}

.flag-icon-pl.flag-icon-squared {
    background-image: url(../content/icons/pl-square.svg);
}

.flag-icon-en {
    background-image: url(../content/icons/gb.svg);
}

.flag-icon-en.flag-icon-squared {
    background-image: url(../content/icons/gb-square.svg);
}

.button-disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.error-box {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .answer-icon {
        height: 40px;
    }

    body {
        font-size: 16px;
    }
}